@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

header {
  background: seagreen;
  height: 100px;
}
body {
  margin: 0;
  font-family: 'PT Sans', 'Segoe UI', Tahoma, Verdana, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: seagreen;
  text-align: center;
}
li {
  display: inline-block;
}
li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}
li a:hover {
  text-decoration: underline;
  background-color: mediumseagreen;
}
.selected {
  background-color: mediumseagreen;
}
article {
  margin: 40px 30px;
}
.HomeIMG {
  height: 341px;
  width: 511px;
  float: right;
}