/*Inporting of font*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
header {
  background: seagreen;
  height: 100px;
}
header div {
  width: 420px;
  margin: auto;
  vertical-align: middle;
}
.logo {
  height: 80px;
  width: 80px;
}
h1 {
  color: white;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding-top: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: seagreen;
  text-align: center;
}
li {
  display: inline-block;
}
li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}
li a:hover {
  text-decoration: underline;
  background-color: mediumseagreen;
}
.selected {
  background-color: mediumseagreen;
}
article {
  margin: 40px 30px;
}
/*.HomeIMG {
  height: 341px;
  width: 511px;
  float: right;
}*/
footer {
  background: seagreen;
  height: 100px;
  bottom: 0;
}
footer p {
  color: white;
  font-size: 85%;
  margin: 5px;
}
footer div p {
  font-size: 55%;
}