header {
  background: seagreen;
  height: 100px;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: seagreen;
  text-align: center;
}
li {
  display: inline-block;
}
li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}
li a:hover {
  text-decoration: underline;
  background-color: mediumseagreen;
}
.selected {
  background-color: mediumseagreen;
}